# Data Transform

In this notebook, we will ask you a series of questions to evaluate your findings from your EDA. Based on your response & justification, we will ask you to also apply a subsequent data transformation. 

If you state that you will not apply any data transformations for this step, you must **justify** as to why your dataset/machine-learning does not require the mentioned data preprocessing step.

The bonus step is completely optional, but if you provide a sufficient feature engineering step in this project we will add `1000` points to your Kahoot leaderboard score.

You will write out this transformed dataframe as a `.csv` file to your `data/` folder.

**Note**: Again, note that this dataset is quite large. If you find that some data operations take too long to complete on your machine, simply use the `sample()` method to transform a subset of your data.

In [1]:
import pandas as pd
import numpy as np

In [2]:
transactions = pd.read_csv("../data/bank_transactions.csv")

In [3]:
transactions.columns

Index(['type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud',
       'isFlaggedFraud'],
      dtype='object')

In [4]:
# TODO: Begin your EDA
transactions.isnull().sum()

type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

## Q1

Does your model contain any missing values or "non-predictive" columns? If so, which adjustments should you take to ensure that your model has good predictive capabilities? Apply your data transformations (if any) in the code-block below.

THE ANSWER: The data doesn't contain missing values. 
I consider columns named 'nameOrig', 'nameDest' not important for future machine learning process, so they will be dropped.

In [6]:
cleaned_transactions = transactions.drop(columns=['nameOrig', 'nameDest', 'oldbalanceDest', 'newbalanceDest'])
cleaned_transactions

,type,amount,oldbalanceOrg,newbalanceOrig,isFraud,isFlaggedFraud
0,PAYMENT,983.09,36730.24,35747.15,0,0
1,PAYMENT,55215.25,99414.00,44198.75,0,0
2,CASH_IN,220986.01,7773074.97,7994060.98,0,0
3,TRANSFER,2357394.75,0.00,0.00,0,0
4,CASH_OUT,67990.14,0.00,0.00,0,0
...,...,...,...,...,...,...
999995,PAYMENT,13606.07,114122.11,100516.04,0,0
999996,PAYMENT,9139.61,0.00,0.00,0,0
999997,CASH_OUT,153650.41,50677.00,0.00,0,0
999998,CASH_OUT,163810.52,0.00,0.00,0,0
999999,CASH_OUT,51379.41,45503.43,0.00,0,0

## Q2

Do certain transaction types consistently differ in amount or fraud likelihood? If so, how might you transform the type column to make this pattern usable by a machine learning model? Apply your data transformations (if any) in the code-block below.

Answer here

Transfer and Cash Out transactions have noticeable fraud rates. TRANSFER transactions tend to involve much larger amounts and have a higher likelihood of being fraudulent. To prepare the data for modeling, we should apply one-hot encoding to the transaction type column.

In [8]:
# one hot encoding
encoded_transactions = cleaned_transactions['type'].str.split(',')
dummy_transactions = pd.get_dummies(encoded_transactions.explode())
dummy_transactions = dummy_transactions.groupby(dummy_transactions.index).max()
dummy_transactions

        CASH_IN  CASH_OUT  DEBIT  PAYMENT  TRANSFER
0         False     False  False     True     False
1         False     False  False     True     False
2          True     False  False    False     False
3         False     False  False    False      True
4         False      True  False    False     False
...         ...       ...    ...      ...       ...
999995    False     False  False     True     False
999996    False     False  False     True     False
999997    False      True  False    False     False
999998    False      True  False    False     False
999999    False      True  False    False     False

[1000000 rows x 5 columns]

## Q3

After exploring your data, you may have noticed that fraudulent transactions are rare compared to non-fraudulent ones. What challenges might this pose when training a machine learning model? What strategies could you use to ensure your model learns meaningful patterns from the minority class? Apply your data transformations (if any) in the code-block below.

Answer here

Challenges with Rare Fraud Cases:
- Class imbalance: The model sees many more non-fraud cases than fraud, so it may get biased toward predicting “non-fraud” all the time.
- Poor detection: The model might miss rare fraud patterns because it focuses on the majority class.

What we can do is: 
- Oversampling the minority class (SMOTE)
- Penalize misclassifying fraud more during training
- Feature engineering: create meaningful features that highlight fraud signals

In [2]:
# write out newly transformed dataset to your folder
...

## Bonus (optional)

Are there interaction effects between variables (e.g., fraud and high amount and transaction type) that aren't captured directly in the dataset? Would it be helpful to manually engineer any new features that reflect these interactions? Apply your data transformations (if any) in the code-block below.

Answer Here